:root {
  /* # Light Mode */
  /* ## Colors */
  --congress-blue: #033d94;
  --dark-congress-blue: #185abd;
  --marigold: #b98826;
  --well-read: #b73535;
  --darker-well-read: #a32c2c;
  --teal-checkbox: #018786;

  /* ### Backgrounds*/
  --background-white: #f8f4f4;
  --background-black-rock: #03012c;
  --background-drover: #fceea1;

  /* ### Drop Shadow */
  --simple-drop-shadow: -2px 5px 7px #0000003d;
  --hover-drop-shadow: -2px 9px 8px #0000003d;

  /* ## Fonts */
  --global-font: 'Gill Sans', sans-serif;
  --font-color-gray: #707070;
  --font-faded-color: #ccc;

  /* ## Border & Box */
  --general-radius-size: 12px;
  --box-radius-size: 6px;

  /* Dark Mode */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--global-font);
  color: var(--font-color-gray);
}

#app {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 70px;
  height: 84vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: #ffffff73;
  border-radius: var(--general-radius-size);
  overflow-y: visible;
}

/* Background Gradient Animation */
body {
  background: linear-gradient(352deg, #663024, #c025ee, #c30000, #ffe405);
  background-size: 800% 800%;

  -webkit-animation: bg-gradient-animation 31s ease infinite;
  animation: bg-gradient-animation 31s ease infinite;
}

@-webkit-keyframes bg-gradient-animation {
  0% {
    background-position: 76% 0%;
  }
  50% {
    background-position: 25% 100%;
  }
  100% {
    background-position: 76% 0%;
  }
}
@keyframes bg-gradient-animation {
  0% {
    background-position: 76% 0%;
  }
  50% {
    background-position: 25% 100%;
  }
  100% {
    background-position: 76% 0%;
  }
}
